<h2>New main character</h2>

<form action="/maincharacter/new" method="post">
    <input type="text" name="name" placeholder="Name"> <br>
    <textarea name="description" placeholder="Description"></textarea> <br>
    <input type="submit" value="Create" class="btn">
</form>